<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Revolution</title>
</head>
<body>
	<p>
		<img src="/static/kommunismus.png" alt="Konzept des Kommunismus" width="300" height="400">
		<img src="/static/karl.webp" alt="Karl Marx" width="300" height="400">
	</p>
	<h1>ES LEBE DER KOMMUNISMUS</h1>
	<p>Die da oben können uns nicht aufhalten!!</p>
	
	<h2>Aktuelle Nachricht</h2>
	<p>
		<b>Aktuelle Nachricht: </b>{{state_text}}
	</p>
	{% if can_change %}
	<form action="/changetext" method="post">
		<input type="text" name="text" placeholder="Neue Nachricht" />
		<button>Ändern</button>
	</form>

	{% else %}
	<p>
		Die Nachricht kann wieder in {{minutes_next_change}} Minuten geändert werden.
	</p>
	{% endif %}

	<p>
		<a href="/secret_history">Zum Nachrichten-Archiv</a>
	</p>

	<h2>Spreizt das Wort, Genossen!</h2>
	<p>
		Diese Seite ist <a href="https://github.com/axoking/smims26-web">Open-Source</a>
	</p>
	<p>
		<a href="/">Zurück zur harmlosen Seite</a>
	</p>
</body>
</html>